.container1{
    border: 3px solid rgb(5, 1, 8);
    width: 400px;
    height: 400px;
    position: relative;
    margin-left: 10%;
}
.container2{
    border: 3px solid rgb(25, 88, 10);
    width: 220px;
    height: 200px;
    padding: 10%;
    margin : 15%;
}
.container3{
    border: 3px solid rgb(120, 10, 204);
    width: 100px;
    height: 100px;
    padding: 10%;
    margin: 10%;
}
h1{
color: brown;

}